@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
    font-family: 'Macondo', cursive;
}

.cardsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: rgb(248, 159, 43);
    border-radius: 8px;
    margin-bottom: 200px;
    transition: width 1s;
}
.languages{
    width: 400px;
    font-size: 2.5rem;
}
@media only screen and (min-width: 1000px) {
    .cardsContainer {
      width: 900px;
      border-radius: 30px;
      box-shadow: 6px 7px 7px rgb(243, 207, 207);
      
    }
    .languages{
        width: 800px;
    }
}