@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.cardcontainer{
    display: flex;
    flex-flow: row wrap;
    
}
.cardbox{
    width: 360px;
    height: 400px;
    margin: 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.cardbox p{
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    margin: 0px;
    text-shadow: 5px 5px 5px black;
    
}


.image {
    width: 85%;
    height: 300px;
    margin: 2rem 1rem 1rem 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    overflow: hidden;
    filter: grayscale(0);
    transition: all 3s;
    
      
   
}
.desc{
    color: white;
    position: relative;
    bottom: -70%;
    transition: all 1s;
    font-family: 'Delius Swash Caps', cursive;
    text-shadow:2px 2px 3px #f8f8f8;
    
}

.cardbox:hover .desc{
    bottom: 0;
    
}
.cardbox:hover .image{
    filter: grayscale(100);
}