.container{
    background-color: rgb(247, 236, 215);
    width: 200px;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
    
}

.description{
    width: 100%;
    margin: 2px;
    text-align: center;
    font-size: 1.3rem;
    
    
    
    
    
}


.image{
    position: relative;
    left: 40px;
    width: 120px;
    
    
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    transform: scale(1);
    transition: all 1s;
    
    

}

.image:hover{
    transform: scale(1.2)

}
.image p {
    padding-top: 140px;
    font-size: 1.5rem;
}

